* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #09637e;
}

h1 {
  text-align: center;
  font-weight: bold;
  margin: 30px;
  color: #ebf4f6;
}

.container {
  width: 500px;
  height: 500px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  background-color: white;
}

.box {
  border: solid black 2px;
}

.box:hover {
  background-color: blue;
}

.btn-container {
  display: flex;
  justify-content: center;
}

.btn {
  color: #1a0e51;
  background-color: #7ab2b2;
  font-weight: bold;
  font-size: 16px;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  margin-top: 30px;
}

.btn:hover {
  cursor: pointer;
  background-color: #7ab2b28d;
}
